.body {
    margin: 0px;
    padding: 0px;
}
.html{
    overflow: hidden;
}

.app {
    display: flex;
    justify-content: center;
    margin: 50px 0px 0px;
    padding: 0px;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;   
}

.forms{
    display: flex;
    max-width: 600px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 10px 10px;
}

.buttons{
    border: none;
    width: 90px;
    height: 25px;
    margin: 10px;
    margin-right: 10px;
    border-radius: 3px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: black;
}

.buttons:hover{
    box-shadow:  0 0 20px rgba(0, 0, 0, 0.5); 
}

.remove{
    border: none;
    width: 90px;
    height: 25px;
    margin: 10px;
    margin-right: 10px;
    border-radius: 3px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: black;
}

.remove:hover{
    box-shadow:  0 0 20px rgba(0, 0, 0, 0.5);
}

.savePos{
    border: none;
    width: 90px;
    height: 25px;
    margin: 10px;
    margin-right: 10px;
    border-radius: 3px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: black;
}

.savePos:hover{
    box-shadow:  0 0 20px rgba(0, 0, 0, 0.5);
}

/* .redColor{
    background-color: #fe0008;
}

.orangeColor{
    background-color:#FFA500;
}

.yellowColor{
    background-color:#FFFF00;
}

.greenColor{
    background-color:#00FF00;
}

.cyanColor{
    background-color:#00FFFF;
}

.blueColor{
    background-color:#0000FF;
}

.purpleColor{
    background-color:#A020F0;
}

.darkOrchid{
    background-color: #e512ec;
}

.chocolate{
    background-color: #D2691E;
}

.tomato{
    background-color: #FF6347;
} */